<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>GtwdJsp</display-name>
  <servlet>
    <servlet-name>Log4jInitServlet</servlet-name>
    <servlet-class>shared.Log4jInitServlet</servlet-class>
    <init-param>
      <param-name>logPath</param-name>
      <param-value>/WEB-INF/logs/error.log</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>PersistentController</servlet-name>
    <servlet-class>ch5.persistentdata.Controller</servlet-class>
    <init-param>
      <param-name>create</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PersistentController</servlet-name>
  	<url-pattern>/ch5/persistentdata/Controller</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Task5Controller</servlet-name>
    <servlet-class>ch5.task5.Controller</servlet-class>
    <init-param>
      <param-name>create</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Task5Controller</servlet-name>
  	<url-pattern>/ch5/task5/Controller</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ComplexPersistentController</servlet-name>
    <servlet-class>ch6.complexpersistent.Controller</servlet-class>
    <init-param>
      <param-name>false</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ComplexPersistentController</servlet-name>
  	<url-pattern>/ch6/complexpersistent/Controller</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AccountLoginController</servlet-name>
    <servlet-class>ch7.accountlogin.Controller</servlet-class>
    <init-param>
      <param-name>create</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AccountLoginController</servlet-name>
  	<url-pattern>/ch7/accountlogin/Controller</url-pattern>
  </servlet-mapping>
</web-app>